<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Be Odd</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Don't Be Odd</h1>
    <input id="player_name" value="Loading..." onchange="updatePlayerName(this)">
    <p>Session Id: {{ session_id }}</p>
    <p>Player: {{ player }}</p>
    <h2>Playing Game: {{ game_id }}</h2>
    <p>Enjoy playing</p>
</body>

<script>
    
    function updatePlayerName(element) {
        var player_name = element.value;
        console.log('Updating player name to:', player_name);
        axios.post('/game/{{game_id}}/update_player_name/', {
            name: player_name
        })
        .then(function(response) {
            console.log('Player name updated:', response.data);
        })
        .catch(function(error) {
            console.error('Error updating player name:', error);
        });
    }


    setInterval(poll_for_game_state, 1000); // poll

    function poll_for_game_state() {
        axios.get('/game/{{game_id}}/state')
        .then(function(response) {
            console.log('Game state:', response.data);
        })
        .catch(function(error) {
            console.error('Error getting game state:', error);
        });
    }
</script>

</html></html>