<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't Be Odd</title>
</head>
<body>
    <h1>Don't Be Odd</h1>
    <p>Session Id: {{ session_id }}</p>
    <h2>Playing Game: {{ game_id }}</h2>
    <p>Enjoy playing</p>
</body>

<script>
    
    const socket = new WebSocket('/websocket/{{game_id}}');

    socket.onopen = function(event) {
        console.log('WebSocket is open now.');
    };

    socket.onmessage = function(event) {
        console.log('WebSocket message received:', event.data);
    };

    socket.onclose = function(event) {
        console.log('WebSocket is closed now.');
    };

    socket.onerror = function(error) {
        console.error('WebSocket error observed:', error);
    };

    setInterval(function() {
        if (socket.readyState === WebSocket.OPEN) {
            socket.send('Hello, WebSocket!');
        }
    }, 5000); // Send a message every 5 seconds
</script>

</html></html>